@font-face {
    font-family: "OpenSans";
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
  font-family: "OpenSans";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}
  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

/* Pop-up */

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup_hidden {
  display: none;
}

.popup_close-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.feedback {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 390px;
  background-color: #ffffff;
  padding: 55px 30px 54px;
}

.feedback_close-btn {
  position: absolute;
  top: -27px;
  right: -3px;
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.section_title {
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
}

.section_title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin: 13px auto 0;
  background-color: rgba(181, 159, 91, 0.4);
}


.sessions_title {
  margin-bottom: 9px;
  font-size: 13px;
}

.feedback_sessions,
.feedback_follow,
.feedback_textarea {
  border: none;
}

.feedback_title {
  margin-bottom: 27px;
  font-size: 20px;
}

.feedback_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  margin-bottom: 30px;
  padding: 12px 30px 15px 17px;
  border: 0;
  font-size: 13px;
  background-color: #f4f7f6;
  background-image: url(../svg/form-arrows.svg);
  background-position: right 13px center;
  background-repeat: no-repeat;
  background-size: 10px;
  cursor: pointer;
}

.feedback_select:focus {
  outline: 1px solid  #B59F5B;
}

.feedback_follow {
  margin-bottom: 28px;
}

.follow_title {
  margin-bottom: 4px;
  font-size: 13px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip-path: circle(0);
  overflow: hidden;
} 

.feedback_label {
  display: inline-block;
  margin-right: 12px;
  font-size: 13px;
  cursor: pointer;
}

.feedback_label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
  margin-right: 4px;
}

.feedback_radio:checked + .feedback_label::before {
  background-image: url(../svg/form-circle.svg);
}

.feedback_textarea {
  margin-bottom: 22px;
}

.textarea_title {
  margin-bottom: 7px;
  font-size: 13px;
}

.textarea_box {
  width: 100%;
  height: 130px;
  padding: 16px 20px;
  border: 0;
  resize: none;
  font-size: 13px;
  background-color:  #F4F7F6;
}

.textarea_box:focus {
  outline: 1px solid #B59F5B;
}

.button-submit {
  width: 100%;
  height: 48px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #B59F5B;
}

.button-submit:hover {
  background-color: #323232;
  cursor: pointer;
}
  
/* Header */

.header {
  position: relative;
  background-image: url(../image/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: #666666;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.header_content {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 15px 125px;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 104px;
}
  
.logo {
  width: 179px;
}

.burger {
  display: none;
}

.menu_items {
  display: flex;
  gap: 35px;
}

.menu_item {
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
}

.menu_item:hover {
  text-decoration: underline;
}

.title {
  max-width: 690px;
  margin: 0 auto;
  font-size: 45px;
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

  /* Main -> content -> gallery */

.gallery {
  padding-top: 65px;
}

.gallery_title {
  margin-bottom: 30px;
  font-size: 20px;
}

.gallery_boxes {
  display: flex;
  gap: 4px;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: calc((100% - 12px) / 4);
  min-height: 320px;
  padding: 19px 25px;
  background: #000000 center / cover no-repeat;
}

.box:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.box-1 {
  background-image: url(../image/trend1.jpg);
}

.box-2 {
  background-image: url(../image/trend2.jpg);
}

.box-3 {
  background-image: url(../image/trend3.jpg);
}

.box-4 {
  background-image: url(../image/trend4.jpg);
}

.box-content {
  padding: 35px 32px;
  outline: 3px solid #b59f5b;
  z-index: 1;
}

.news_items {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
}

.news_item {
  line-height: 14px;
}

.news_link {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 14px;
  color: #b59f5b;
}

.news_link:hover {
  text-decoration: underline;
}

.box_title {
  padding-top: 10px;
  line-height: 1.2;
}

.box_title-link {
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.box_title-link:hover {
  color: #b59f5b;
}

  /* Main -> content -> article */

.main {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 62px 15px 0;
}

.content {
  width: 778px;
}

.blog {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.article:not(:last-child) {
  margin-bottom: 60px;
}

.blog_wrp-img {
  width: 381px;
}

.wrp_img {
  display: block;
  width: 100%;
  background-color: #eff6f1;
}

.blog_news {
  width: 367px;
}

.blog_title {
  padding: 10px 0 28px;
  line-height: 24px;
}

.blog_title-link {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  color: #0f0d0e;
}

.blog_title-link:hover {
  color:  #b59f5b;
}

.info {
  display: flex;
  gap: 13px;
  padding-bottom: 46px;
  font-size: 12px;
}

.info_date {
  color: #888888;
}

.info_author {
  font-weight: 700;
  color: #000000;
}

.blog_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
}
  
  /* Content - Sidebar */

.sidebar {
  width: 272px;
}
  
  /* New post */

.posts_section {
  padding: 0 1px 60px;
}

.sidebar_title {
  margin-bottom: 29px;
}

.post {
  display: flex;
  align-items: flex-start;
  gap: 19px;
}

.post:not(:last-child) {
  margin-bottom: 22px;
}

.post_img {
  width: 70px;
}
  
.post_img-jpg {
  display: block;
  width: 100%;
  background-color: #f4f7f6;
}
  
.post_item {
  width: 181px; 
}

.post_time {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 9px;
  color: rgba(0, 0, 0, 0.541);
}

.post_title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.post_title-link {
  color: #000000;
}
  
.post_title-link:hover {
  color: #b59f5b;
}
  
  /* Button search */
  
.search_form {
  display: flex;
  padding: 0 1px 60px;
}

.search_form-field {
  width: 222px;
  height: 48px;
  padding: 18px;
  border: none;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.541);
  background-color: #f4f7f6;
}

.search_form-field:focus {
  border: 1px solid #b59f5b;
  outline: none;
}

.search_btn {
  width: 48px;
  height: 48px;
  border: none;
  background-image: url("../svg/search.svg");
  background-size: 18px;
  background-color: #b59f5b;
  background-repeat: no-repeat;
  background-position: center center;
}

.search_btn:hover {
  background-color: #323232;
  cursor: pointer;
}
  
  /* Button follow */

.follow {
  width: 270px;
  padding: 0 1px 60px;
}

.follow_title {
  margin-bottom: 23px;
}

.follow_field {
  width: 100%;
  height: 48px;
  margin-bottom: 19px;
  padding: 18px;
  border: none;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.541);
  background-color: #f4f7f6;
}

.follow_field:focus {
  border: 1px solid #b59f5b;
  outline: none;
}

  /* Tags */

.tags-wrp {
  padding: 0 1px 60px;
}

.tags_title {
  margin-bottom: 25px;
}
  
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 7px 6px;
}

.tags_item {
  padding: 3px 13px 4px 14px;
  border: 3px solid #eeeeee;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.tags_item:hover {
  border: 3px solid #b59f5b;
}

.tags_link {
  color: #0f0d0e;
}

  /* Topics */

.topics_wrp {
  padding: 0 1px;
}

.topics_title {
  margin-bottom: 24px;
}

.topics_item {
  padding-bottom: 14px;
  border-bottom: 1px solid #eeeeee;
  font-size: 14px;
  font-weight: 700;
}

.topics_item:not(:first-child) {
  padding-top: 13px;
}

.topics_link {
  color: #000000;
}

.topics_link:hover {
  color: #b59f5b;
}

.result {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 700;
  vertical-align: top;
  color: #b59f5b;
}

/* Shop */

.shop {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 15px 0;
}

.shop_title {
  margin-bottom: 30px;
  font-size: 20px;
}

.products {
  display: flex;
  justify-content: space-between;
  gap: 66px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.333%;
}

.product_set {
  width: 87%;
}

.product_img {
  display: block;
  width: 100%;
  background-color: #eff6f1;
}

.product_card {
  margin-top: -30px;
  flex-grow: 1;
  padding: 48px 22px 4px;
  outline: 3px solid #b59f5b;
}

.card_title {
  margin-bottom: 3px;
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
}

.descr_link {
  color: #b59f5b;
}

.descr_link:hover {
  text-decoration: underline;
}

.cards_price {
  display: flex;
  justify-content: space-between;
  padding: 21px 0;
}

.cost {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card_price {
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
}

.card_cost {
  font-size: 14px;
  text-decoration: line-through;
}

.card_sale {
  position: relative;
  top: -6px;
  font-size: 20px;
}

.card_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 49px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #b59f5b;
  border: none;
}

.card_btn:hover {
  background-color: #323232;;
}

/* Footer */

.footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 66px 15px 40px;
}

.socials {
  display: flex;
  margin-bottom: 64px;
  justify-content: center;
  align-items: center;
  gap: 26px;
  padding: 33px;
  background-color: #f4f7f6;
}

.social_link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.link_dribbble {
  background-image: url(../svg/001-dribbble.svg);
}

.link_pinterest {
  background-image: url(../svg/002-pinterest.svg);
}

.link_tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

/* Copyright */

.copyright {
  font-style: normal;
  text-align: center;
}

.copyright_link {
  font-size: 12px;
  font-weight: 700;
  color: #999999;
}